include *.png *.jpg *.jpeg

out_file/heic_fol/030124/*
out_file/heic_fol/080124/*
out_file/heic_fol/130124/*

!out_file/heic_fol/030124/.gitkeep
!out_file/heic_fol/080124/.gitkeep
!out_file/heic_fol/130124/.gitkeep

out_file/image1/*
!out_file/image1/.gitkeep

out_file/pdf1_image/*
!out_file/pdf1_image/.gitkeep

out_file/pdf2_image/*
!out_file/pdf2_image/.gitkeep

unwarping_output/*
!unwarping_output/.gitkeep

__pycache__/

test*

!test_remap_INTER_CUBIC_BORDER_CONSTANT

!test_fix_path

!test.exe

inference.ipynb

example_output/*
!example_output/.gitkeep